body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

form { 
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
  width: 500px;
  margin: 0 auto;
}

.label-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-comp label {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}


form input[type="checkbox"] {
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background-color: #444;
  cursor: pointer;
}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}

.button {
  border: 0;
  border-radius: 8px;
  padding: 14px;
  color: #f4f4f4;
  background-color: #444;
  cursor: pointer;
  transition: .3s ease-in-out; 
  width: 250px;
  text-align: center;
}

.button:hover {
  background-color: green;
  transition: .3s;
  box-shadow: 1px 1px 10px 0 #444;
}

.checkbox-text {
  opacity: 0.5;
}

#isWatched:checked ~.checkbox-text {
  opacity: 1;
}  

#film-tbody td, th {
  vertical-align: unset;
  text-align: center;
}

.sort-form {
  display: flex;
  gap: 10px;
}

.sort {
  padding: 10px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Verdana", "Arial", sans-serif;
  cursor: pointer;
  margin: 0 0 5px 0;

}

.sort-button {
  padding: 10px;
  background-color: white;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  border: 1px solid black;
  width: 130px;
  cursor: pointer;
  margin: 0 0 5px 0;
}

.buttons-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.edit-film, .remove-film {
  background-color: none;
  padding: 15px;
  margin: 0;
  cursor: pointer;
}